
.DS_Store
EFI/Microsoft/Boot/BCD
EFI/Microsoft/Boot/BCD.LOG
EFI/Microsoft/Boot/BCD.LOG2
EFI/Microsoft/Boot/BCD.LOG1
EFI/Microsoft/Boot/bg-BG/bootmgfw.efi.mui
EFI/Microsoft/Boot/bg-BG/bootmgr.efi.mui
EFI/Microsoft/Boot/boot.stl
EFI/Microsoft/Boot/bootmgfw.efi
EFI/Microsoft/Boot/bootmgr.efi
EFI/Microsoft/Boot/BOOTSTAT.DAT
EFI/Microsoft/Boot/cs-CZ/bootmgfw.efi.mui
EFI/Microsoft/Boot/cs-CZ/bootmgr.efi.mui
EFI/Microsoft/Boot/cs-CZ/memtest.efi.mui
EFI/Microsoft/Boot/da-DK/bootmgfw.efi.mui
EFI/Microsoft/Boot/da-DK/bootmgr.efi.mui
EFI/Microsoft/Boot/da-DK/memtest.efi.mui
EFI/Microsoft/Boot/de-DE/bootmgfw.efi.mui
EFI/Microsoft/Boot/de-DE/bootmgr.efi.mui
EFI/Microsoft/Boot/de-DE/memtest.efi.mui
EFI/Microsoft/Boot/el-GR/bootmgfw.efi.mui
EFI/Microsoft/Boot/el-GR/bootmgr.efi.mui
EFI/Microsoft/Boot/el-GR/memtest.efi.mui
EFI/Microsoft/Boot/en-GB/bootmgfw.efi.mui
EFI/Microsoft/Boot/en-GB/bootmgr.efi.mui
EFI/Microsoft/Boot/en-US/bootmgfw.efi.mui
EFI/Microsoft/Boot/en-US/bootmgr.efi.mui
EFI/Microsoft/Boot/en-US/memtest.efi.mui
EFI/Microsoft/Boot/es-ES/bootmgfw.efi.mui
EFI/Microsoft/Boot/es-ES/bootmgr.efi.mui
EFI/Microsoft/Boot/es-ES/memtest.efi.mui
EFI/Microsoft/Boot/es-MX/bootmgfw.efi.mui
EFI/Microsoft/Boot/es-MX/bootmgr.efi.mui
EFI/Microsoft/Boot/et-EE/bootmgfw.efi.mui
EFI/Microsoft/Boot/et-EE/bootmgr.efi.mui
EFI/Microsoft/Boot/fi-FI/bootmgfw.efi.mui
EFI/Microsoft/Boot/fi-FI/bootmgr.efi.mui
EFI/Microsoft/Boot/fi-FI/memtest.efi.mui
EFI/Microsoft/Boot/Fonts/chs_boot.ttf
EFI/Microsoft/Boot/Fonts/cht_boot.ttf
EFI/Microsoft/Boot/Fonts/jpn_boot.ttf
EFI/Microsoft/Boot/Fonts/kor_boot.ttf
EFI/Microsoft/Boot/Fonts/malgun_boot.ttf
EFI/Microsoft/Boot/Fonts/malgunn_boot.ttf
EFI/Microsoft/Boot/Fonts/meiryo_boot.ttf
EFI/Microsoft/Boot/Fonts/meiryon_boot.ttf
EFI/Microsoft/Boot/Fonts/msjh_boot.ttf
EFI/Microsoft/Boot/Fonts/msjhn_boot.ttf
EFI/Microsoft/Boot/Fonts/msyh_boot.ttf
EFI/Microsoft/Boot/Fonts/msyhn_boot.ttf
EFI/Microsoft/Boot/Fonts/segmono_boot.ttf
EFI/Microsoft/Boot/Fonts/segoe_slboot.ttf
EFI/Microsoft/Boot/Fonts/segoen_slboot.ttf
EFI/Microsoft/Boot/Fonts/wgl4_boot.ttf
EFI/Microsoft/Boot/fr-CA/bootmgfw.efi.mui
EFI/Microsoft/Boot/fr-CA/bootmgr.efi.mui
EFI/Microsoft/Boot/fr-FR/bootmgfw.efi.mui
EFI/Microsoft/Boot/fr-FR/bootmgr.efi.mui
EFI/Microsoft/Boot/fr-FR/memtest.efi.mui
EFI/Microsoft/Boot/FveTcg_0.log
EFI/Microsoft/Boot/FveTcg_1.log
EFI/Microsoft/Boot/FveTcg_2.log
EFI/Microsoft/Boot/hr-HR/bootmgfw.efi.mui
EFI/Microsoft/Boot/hr-HR/bootmgr.efi.mui
EFI/Microsoft/Boot/hu-HU/bootmgfw.efi.mui
EFI/Microsoft/Boot/hu-HU/bootmgr.efi.mui
EFI/Microsoft/Boot/hu-HU/memtest.efi.mui
EFI/Microsoft/Boot/it-IT/bootmgfw.efi.mui
EFI/Microsoft/Boot/it-IT/bootmgr.efi.mui
EFI/Microsoft/Boot/it-IT/memtest.efi.mui
EFI/Microsoft/Boot/ja-JP/bootmgfw.efi.mui
EFI/Microsoft/Boot/ja-JP/bootmgr.efi.mui
EFI/Microsoft/Boot/ja-JP/memtest.efi.mui
EFI/Microsoft/Boot/kd_02_10df.dll
EFI/Microsoft/Boot/kd_02_10ec.dll
EFI/Microsoft/Boot/kd_02_1137.dll
EFI/Microsoft/Boot/kd_02_14e4.dll
EFI/Microsoft/Boot/kd_02_15b3.dll
EFI/Microsoft/Boot/kd_02_1969.dll
EFI/Microsoft/Boot/kd_02_19a2.dll
EFI/Microsoft/Boot/kd_02_1af4.dll
EFI/Microsoft/Boot/kd_02_8086.dll
EFI/Microsoft/Boot/kd_07_1415.dll
EFI/Microsoft/Boot/kd_0C_8086.dll
EFI/Microsoft/Boot/kdnet_uart16550.dll
EFI/Microsoft/Boot/kdstub.dll
EFI/Microsoft/Boot/ko-KR/bootmgfw.efi.mui
EFI/Microsoft/Boot/ko-KR/bootmgr.efi.mui
EFI/Microsoft/Boot/ko-KR/memtest.efi.mui
EFI/Microsoft/Boot/lt-LT/bootmgfw.efi.mui
EFI/Microsoft/Boot/lt-LT/bootmgr.efi.mui
EFI/Microsoft/Boot/lv-LV/bootmgfw.efi.mui
EFI/Microsoft/Boot/lv-LV/bootmgr.efi.mui
EFI/Microsoft/Boot/memtest.efi
EFI/Microsoft/Boot/nb-NO/bootmgfw.efi.mui
EFI/Microsoft/Boot/nb-NO/bootmgr.efi.mui
EFI/Microsoft/Boot/nb-NO/memtest.efi.mui
EFI/Microsoft/Boot/nl-NL/bootmgfw.efi.mui
EFI/Microsoft/Boot/nl-NL/bootmgr.efi.mui
EFI/Microsoft/Boot/nl-NL/memtest.efi.mui
EFI/Microsoft/Boot/pl-PL/bootmgfw.efi.mui
EFI/Microsoft/Boot/pl-PL/bootmgr.efi.mui
EFI/Microsoft/Boot/pl-PL/memtest.efi.mui
EFI/Microsoft/Boot/pt-BR/bootmgfw.efi.mui
EFI/Microsoft/Boot/pt-BR/bootmgr.efi.mui
EFI/Microsoft/Boot/pt-BR/memtest.efi.mui
EFI/Microsoft/Boot/pt-PT/bootmgfw.efi.mui
EFI/Microsoft/Boot/pt-PT/bootmgr.efi.mui
EFI/Microsoft/Boot/pt-PT/memtest.efi.mui
EFI/Microsoft/Boot/qps-ploc/memtest.efi.mui
EFI/Microsoft/Boot/Resources/bootres.dll
EFI/Microsoft/Boot/Resources/en-US/bootres.dll.mui
EFI/Microsoft/Boot/ro-RO/bootmgfw.efi.mui
EFI/Microsoft/Boot/ro-RO/bootmgr.efi.mui
EFI/Microsoft/Boot/ru-RU/bootmgfw.efi.mui
EFI/Microsoft/Boot/ru-RU/bootmgr.efi.mui
EFI/Microsoft/Boot/ru-RU/memtest.efi.mui
EFI/Microsoft/Boot/sk-SK/bootmgfw.efi.mui
EFI/Microsoft/Boot/sk-SK/bootmgr.efi.mui
EFI/Microsoft/Boot/sl-SI/bootmgfw.efi.mui
EFI/Microsoft/Boot/sl-SI/bootmgr.efi.mui
EFI/Microsoft/Boot/sr-Latn-RS/bootmgfw.efi.mui
EFI/Microsoft/Boot/sr-Latn-RS/bootmgr.efi.mui
EFI/Microsoft/Boot/sv-SE/bootmgfw.efi.mui
EFI/Microsoft/Boot/sv-SE/bootmgr.efi.mui
EFI/Microsoft/Boot/sv-SE/memtest.efi.mui
EFI/Microsoft/Boot/tr-TR/bootmgfw.efi.mui
EFI/Microsoft/Boot/tr-TR/bootmgr.efi.mui
EFI/Microsoft/Boot/tr-TR/memtest.efi.mui
EFI/Microsoft/Boot/uk-UA/bootmgfw.efi.mui
EFI/Microsoft/Boot/uk-UA/bootmgr.efi.mui
EFI/Microsoft/Boot/winsipolicy.p7b
EFI/Microsoft/Boot/zh-CN/bootmgfw.efi.mui
EFI/Microsoft/Boot/zh-CN/bootmgr.efi.mui
EFI/Microsoft/Boot/zh-CN/memtest.efi.mui
EFI/Microsoft/Boot/zh-TW/bootmgfw.efi.mui
EFI/Microsoft/Boot/zh-TW/bootmgr.efi.mui
EFI/Microsoft/Boot/zh-TW/memtest.efi.mui
EFI/Microsoft/Recovery/BCD
EFI/Microsoft/Recovery/BCD.LOG
EFI/Microsoft/Recovery/BCD.LOG1
EFI/Microsoft/Recovery/BCD.LOG2
