<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMacPro1,1-XHC0-60</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/GP13@8,1/IOPP/XHC0@0,3/XHC0@60000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PT01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#5 3.0 - USB2 Mode</string>
					</dict>
					<key>PT02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#6 3.0 - USB2 Mode</string>
					</dict>
					<key>PT03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#7 - USB2 Mode</string>
					</dict>
					<key>PT04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#8 - USB2 Mode (Flipped)</string>
					</dict>
					<key>PT05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#5 - USB3 Mode</string>
					</dict>
					<key>PT06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#6 - USB3 Mode</string>
					</dict>
					<key>PT07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#7 - USB3 Mode</string>
					</dict>
					<key>PT08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CAAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#8 - USB3 Mode</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-XHC2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC2@0,1/XHC2@20000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PT21</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PT22</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PT23</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PT24</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PT25</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PT26</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>PT27</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>PT28</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
					<key>PT29</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CQAAAA==</data>
					</dict>
					<key>PT2A</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-XHC3-61</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC3@0,3/XHC3@61000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PT31</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB2 Mode</string>
					</dict>
					<key>PT32</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB2 Mode</string>
					</dict>
					<key>PT33</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB2 Mode</string>
					</dict>
					<key>PT34</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB2 Mode (Flipped)</string>
					</dict>
					<key>PT35</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Internal - AURA LED Controller</string>
					</dict>
					<key>PT36</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Internal - BLUETOOTH</string>
					</dict>
					<key>PT37</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB3 Mode</string>
					</dict>
					<key>PT38</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CAAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB3 Mode</string>
					</dict>
					<key>PT39</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>CQAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB3 Mode</string>
					</dict>
					<key>PT3A</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>CgAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB3 Mode (Flipped)</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-XHC3-60</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC3@0,3/XHC3@60000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PT31</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB2 Mode</string>
					</dict>
					<key>PT32</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB2 Mode</string>
					</dict>
					<key>PT33</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB2 Mode</string>
					</dict>
					<key>PT34</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB2 Mode (Flipped)</string>
					</dict>
					<key>PT35</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Internal - AURA LED Controller</string>
					</dict>
					<key>PT36</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Internal - BLUETOOTH</string>
					</dict>
					<key>PT37</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB3 Mode</string>
					</dict>
					<key>PT38</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CAAAAA==</data>
						<key>Comment</key>
						<string>Top - BLUE MBPORT#2 - USB3 Mode</string>
					</dict>
					<key>PT39</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>CQAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB3 Mode</string>
					</dict>
					<key>PT3A</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>CgAAAA==</data>
						<key>Comment</key>
						<string>Rear - USBC MBPORT#C10 - USB3 Mode (Flipped)</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-XHC0-61</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/GP13@8,1/IOPP/XHC0@0,3/XHC0@61000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PT01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#5 3.0 - USB2 Mode</string>
					</dict>
					<key>PT02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#6 3.0 - USB2 Mode</string>
					</dict>
					<key>PT03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#7 - USB2 Mode</string>
					</dict>
					<key>PT04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#8 - USB2 Mode (Flipped)</string>
					</dict>
					<key>PT05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#5 - USB3 Mode</string>
					</dict>
					<key>PT06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#6 - USB3 Mode</string>
					</dict>
					<key>PT07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#7 - USB3 Mode</string>
					</dict>
					<key>PT08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CAAAAA==</data>
						<key>Comment</key>
						<string>Rear - BLUE MBPORT#8 - USB3 Mode</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
